.list__wrapper {
   position: relative;
}

.list__wrapper > ul {
   list-style: none; 
   display: flex;
   padding-left: 0;
}

.list__wrapper > ul > li {
   position: absolute;
   width: max-content;
   transform: translateX(-50%);
   text-align: center;
}

.list__wrapper > ul > li > p {
   -webkit-transition: font-weight 0.25s ease;
   transition: font-weight 0.25s ease;
}

li.selected {
   font-weight: bold;
}