.no-wrap {
  white-space: nowrap;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.animated {
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
  -webkit-transition: border-color 0.25s ease;
  transition: border-color 0.25s ease;
}

tips-section,
#design {
  display: block;
}

.tips-wrapper,
.design-wrapper {
  position: relative;
}

.tips-wrapper {
  padding-bottom: 5rem;
  border-bottom: .1rem solid var(--color-foreground-20);
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 10px;
}

.design-wrapper > p {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #5f36d2;
  background-color: rgba(95, 54, 210, 0.1);
  border: 1px solid rgba(95, 54, 210, 0.1);
}

article {
  display: flex;
  flex-direction: column;
  grid-column: 4 / 23;
  grid-row: 1;
  text-align: right;
  margin: 0 2rem 0 auto;
  max-width: 305px;
}

.tips__header {
  font-size: 14px;
}

.tips__subheader {
  margin-top: auto;
  padding-top: 0.75rem;
  font-size: 12px;
  color: #5f36d2;
}

.tips__help__tooltip {
  color: white;
  background-color: #5f36d2;
  border-radius: 50%;
  border-color: transparent;
  padding: 3px 6px;
  cursor: pointer;
}

.tips__help__tooltip:after {
  content: '?';
}

label {
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  height: 54px;
  width: 54px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

label > .label-inner > span {
  display: block;
}

label[for=radio-1] {
  grid-column: 23;
  grid-row: 1;
}

label[for=radio-2] {
  grid-column: 24;
  grid-row: 1;
}

.tips__radio-control {
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: auto;
  margin-bottom: -10px;
  display: block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + label {
  border-color: #3678B4;
}

input:checked + label > .label-inner > .tips__radio-control {
  border-color: #3678B4;
  background: #3678B4;
}

input:checked + label > .label-inner > .tips__radio-control:after {
  position: absolute;
  display: block;
  content: ' ';
  background-image: url(./checkmark.svg);
  background-repeat: no-repeat;
  background-size: 8px 8px;
  height: 8px;
  width: 8px;
  left: -15%;
  top: -15%;
}

input:checked + label > .label-inner > .tips__radio-price {
  font-weight: bold;
}

.tips__radio-emoji {
  align-self: center;
  font-size: 25px;
  transform: scale(0.75);
  line-height: calc(1.5 * 0.75);
  padding-top: 5px;
  margin: auto;
  margin-bottom: -5px;
}

.tips__radio-price {
  align-self: center;
  font-size: 12px;
  margin: auto;
}

@media screen and (max-width: 414px) {
  article {
    grid-column: 4 / 24;
    grid-row: 1 / 3;
    text-align: left;
    margin: 0 2rem;
  }

  label[for=radio-1] {
    grid-column: 24;
    grid-row: 1;
  }

  label[for=radio-2] {
    grid-column: 24;
    grid-row: 2;
  }
}
