<script src="{{ 'widget.js' | asset_url }}" defer></script>
<div id="heythanks-container">
  <div id="heythanks-data" data-settings="{{ block.settings | json | escape }}"></div>
</div>

{% schema %}
{
  "name": "Tips Widget",
  "target": "section",
  "templates": [
    "cart"
  ],
  "settings": [
    {
      "type": "header",
      "content": "Style options"
    },
    {
      "type": "color",
      "id": "backgroundColor",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "selectionColor",
      "label": "Selection color",
      "default": "#3678b4"
    },
    {
      "type": "color",
      "id": "strokeColor",
      "label": "Stroke color",
      "default": "#d9d9d9"
    },
    {
      "type": "range",
      "id": "strokeWidth",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "px",
      "label": "Stroke width",
      "default": 2
    },
    {
      "type": "range",
      "id": "cornerRadius",
      "min": 0,
      "max": 15,
      "step": 1,
      "unit": "px",
      "label": "Corner radius",
      "default": 10
    },
    {
      "type": "header",
      "content": "Text options"
    },
    {
      "type": "textarea",
      "id": "labelText",
      "label": "Label text",
      "default": "Send a tip directly to our fulfillment team who packs your order with care."
    },
    {
      "type": "header",
      "content": "Visibility options"
    },
    {
      "type": "checkbox",
      "id": "displayStatus",
      "label": "Widget is visible",
      "default": true
    }
  ]
}
{% endschema %}
