.progress__wrapper {
    height: 100%;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}