.welcome__signature {
    color: #5f36d2;
    vertical-align: top;
    height: 2.5rem;
}

.welcome__signature > img {
    vertical-align: top;
    height: 2.5rem;
    width: auto;
}

.welcome__letter {
    padding: 25px;
    background: #F6F5FC;
    border-radius: 0.4rem;
}