.progress__header {
    background: white;
    -webkit-box-shadow: var(--p-top-bar-shadow);
    box-shadow: var(--p-top-bar-shadow);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.welcome__wrapper {
    margin: 5rem auto 2rem auto;
    padding: 0 2rem;
}

.step__wrapper {
    margin: 12.5rem auto 2rem auto;
    padding: 0 2rem;
}

@media screen and (max-width: 750px) {
    .step__wrapper {
        margin: 17.5rem auto 2rem auto;
    }
}

.spacer {
    height: 0.4rem;
}