.progress__header {
    background: white;
    -webkit-box-shadow: var(--p-top-bar-shadow);
    box-shadow: var(--p-top-bar-shadow);
}

.welcome__section {
    margin: 5rem auto;
    max-width: 600px;
    padding: 0 2rem;
}